<body>
  <div class="Masterwrapper">
    <div class="section1">
      <div class="infos">
        <div class="c1 cards">
          Total Events <br />
          <h1>6</h1>
        </div>
        <div class="c2 cards">
          Current Events <br />
          <h1>6</h1>
        </div>
        <div class="c3 cards">
          Your Submission <br />
          <h1>6</h1>
        </div>
        <div class="c4 cards">
          Pending Submission <br />
          <h1>6</h1>
        </div>
      </div>
      <app-submit></app-submit>
    </div>
    <div class="section2">
      <h2>Welcome {{ CandidateGreetingName }}</h2>
      <app-events></app-events>
    </div>
  </div>
  <app-modal *ngIf="serve.showDialog"></app-modal>
</body>
