<body>
  <div class="Masterwrapper">
    <div class="section1">
      <div class="infos">
        <div class="c1 cards">
          <div class="heads">
            Total Events <i class="fa-solid fa-clapperboard"></i>
          </div>

          <h1>{{ TotalEvents }}</h1>
        </div>
        <div class="c2 cards">
          <div class="heads">
            Current Events <i class="fa-solid fa-bolt"></i>
          </div>

          <h1>{{ CurrentEvents }}</h1>
        </div>
        <div class="c3 cards">
          <div class="heads">
            Your Submission <i class="fa-solid fa-camera-retro"></i>
          </div>

          <h1>{{ YourSubmission }}</h1>
        </div>
        <div class="c4 cards">
          <div class="heads">
            Pending Submission <i class="fa-solid fa-camera-rotate"></i>
          </div>

          <h1>{{ PendingSubmission }}</h1>
        </div>
      </div>
      <app-submit></app-submit>
    </div>
    <div class="section2">
      <h2>Welcome {{ CandidateGreetingName }}</h2>
      <app-events></app-events>
    </div>
  </div>
  <app-modal *ngIf="serve.showDialog"></app-modal>
</body>
