body {
  background-color: black;
  height: auto;

  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.body::-webkit-scrollbar {
  display: none;
}
.Masterwrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.infos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}
.cards {
  padding-right: 0.99vw;
  width: 21%;
  height: 100%;
  background-color: rgb(48, 237, 48);
  border: 1px solid black;
  border-radius: 12px;
  transition-duration: background-color 0.4s;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-weight: 400;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 1vw;
}
.cards h1 {
  font-size: 1.6vw;
  font-weight: 500;
  align-self: flex-start;
  padding: 0;
  margin-left: 0.7vw;
}
.c1 {
  background-color: rgb(179, 179, 42);
}
.c1:hover {
  background-color: rgb(48, 237, 48);
}
.c2 {
  background-color: rgb(49, 49, 192);
}
.c2:hover {
  background-color: rgb(48, 237, 48);
}
.c3 {
  width: 25%;
  background-color: rgb(226, 71, 71);
}
.c3:hover {
  background-color: rgb(48, 237, 48);
}
.c4 {
  width: 29%;
  background-color: blueviolet;
}
.c4:hover {
  background-color: rgb(48, 237, 48);
}
.heads {
  margin-bottom: 0.99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fa-solid {
  margin-top: 0.5vh;
  align-self: flex-end;
  font-size: 1.1vw;
  width: 2%;
  height: 3vh;
  color: white;
}
.fa-clapperboard {
  margin-left: 1.2vw;
}
.fa-bolt {
  margin-left: 0.5vw;
}
.fa-camera-retro {
  margin-left: 0.5vw;
}
.fa-camera-rotate {
  margin-left: 0.7vw;
}
.section1 {
  margin-top: 19vh;
  height: 80vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw;
}
.section2 {
  width: 48vw;
  height: auto;
}
h2 {
  font-weight: 600;
  font-size: xx-large;
  letter-spacing: 1px;
  color: white;
}
app-submit {
  background-color: rgb(23, 21, 21);
  border-radius: 20px;
  color: white;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 1vw;
  padding: 1vw;
}
app-modal {
  z-index: 100;
  position: fixed;
}

app-status {
  background-color: yellowgreen;
  border-radius: 20px;
  color: white;
  width: 100%;
  z-index: 1;
}
app-events {
  background-color: rgb(23, 21, 21);
  border-radius: 20px;
  width: 100%;
  height: auto;
  z-index: 1;
  color: white;
}
