.header-container{
    background-color: black;
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    z-index: 5;
    position: fixed;
    width: 100%;
    /* padding-bottom: 40px; */
}
.header-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}
.header-title{
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right h3{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;

}
.header-right h3 a{
    color: white;
    text-decoration: none;
}
.header-styledbutton{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.header-title-secondary{
    color: green;
}