<div class="header-container">
    <div class="container d-flex justify-content-between">
        <div class="header-left" (click)="homebtn()">
            <h3 class="header-title">Shot<span class="header-title-secondary">Flix</span></h3>
        </div>
        <div class="header-right">
            <h3 *ngIf=auth.authrequest()><a [routerLink]="['updateuser']">{{User.name}}</a></h3>
            <h3 *ngIf=!auth.authrequest() class="header-styledbutton">Get Started</h3>
            <h3 *ngIf=auth.authrequest() (click)="logoutbtn()">Logout</h3>
        </div>
    </div>
</div> 

