<h1 style="font-size: xxx-large; font-weight: bolder">Submissions</h1>

<table style="width: 100%" class="bordered">
  <tr>
    <th>Movie Name</th>
    <th>Event Name</th>
    <th>Status</th>
  </tr>
  <!-- <tr *ngFor="let movie of myMovies">
    <td>{{ movie.movieName }}</td>
    <td>{{ movie.event }}</td>
  </tr> -->
  <tr>
    <td>Bahubaliz</td>
    <td>Inter Disctrict Arts Fest</td>
  </tr>
  <tr>
    <td>K.G.H</td>
    <td>Tranvancore Film Fest</td>
  </tr>
  <tr>
    <td>Conjuring 1</td>
    <td>Mega Documentary Fest</td>
  </tr>
</table>
