<body>
    <link rel="stylesheet" href="./guest.component.css">
<div class="movie-list-container">
    <h1 class="movie-list-title">TO BE REVIEWED</h1>
    <div class="movie-list-wrapper">
        <div class="movie-list">
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Star Wars</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Storm</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">1917</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Avengers</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
                <button class="movie-list-item-button1">Review</button>
            </div>
        </div>
        <i class="fas fa-chevron-right arrow"></i>
    </div>
    <h1 class="movie-list-title">REVIEWED</h1>
    <div class="movie-list-wrapper">
        <div class="movie-list">
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Star Wars</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Storm</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">1917</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Avengers</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
            <div class="movie-list-item">
                <img class="movie-list-item-img" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="">
                <span class="movie-list-item-title">Her</span>
                <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                    hic fugit similique accusantium.</p>
                <button class="movie-list-item-button">Watch</button>
            </div>
        </div>
        <i class="fas fa-chevron-right arrow"></i>
    </div>
</div>
</body>
<!-- <script src="app.js"></script> -->