.guest-container{
  display: flex;
  background-color: #151515;
  color: white;
  justify-content: center;
  width: 98.9vw;
  height: auto;
}
.movie-list-container {
  padding: 0 20px;
  background-color: #151515;
  margin-top: 100px;
}
.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  }
.movie-list::-webkit-scrollbar { 
  display: none; }
.movie-list-item {
margin-right: 30px;
position: relative;
}
.guest-hovertest{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  height: auto;
  z-index: 100;
  border-radius: 20px;
}
.modalguest{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 0;
  top: 0;
  overflow: scroll;
  }
  .modalcontentguest{
  padding: 20px;
  border-radius: 10px;
  width: min-content;
  height: auto;
  background-color: rgb(26, 26, 26);
  }
.closebutton{
  display: flex;
  justify-content: flex-end;
}
.closebutton button{
  display: flex;
  padding: 10px;
  border: none;
  background-color: forestgreen;
  justify-content: end;
  position: fixed;
  left: 50;
  top: 50;
  cursor: pointer;
  border-radius: 10%;
  /* color: white; */
}
.modalcontentguest form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 25px;
}
.modalcontentguest h1 {
text-align: center;
}
.modalcontentguest input {
  padding: 15px;
  background-color: rgb(51, 51, 51);
  border: none;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
}
.modalcontentguest form button {
  display: flex;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  background-color: forestgreen;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;

 }
.guest-modal-left{
  flex: 2;
  color: white;
}.guest-modal-right2{
  flex: 2;
  color: white;
}
.guest-modal-bottom{
  display: flex;
}
.modaltest{
  display: flex;
  flex-direction: column;
}
.guest-modal-container{
  display: flex;
  height: min-content;
  width: 400px;
}
.guest-modal-right{
  background-color: #cf9c50;
  flex: 1;
  display: flex;
  width: 50% ;
  height: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}
.guest-modal-right img{
  width: 100%;
  height: max-content;
}
.alert-danger{
  padding: 0;
  background-color: transparent;
  border: none;
}
/*-------------------------- buttons-------------------------- */
.buttontest{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 15px;
  transition: 0.5s;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttontest:hover{
  padding: 10px;
  background-color: green;
  border-radius: 10px;
}
.buttontest1{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 15px;
  transition: 0.5s;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttontest1:hover{
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  border-color: #4dbf00;
}
/* ------------------------------------------------------------ */
.bodytest{
  background-color: #333;
  height: 20px;
}
.guesttitletest{
  margin-bottom: -20px;
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
}
.titletest{
  color: white;
  margin-bottom: 20px;
}
.titletest{
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.titletest1{
  font-size: 13px;
  color: gray;
}
.cardtest{
  margin-left: 5px;
  margin-right: 20px;
  position: relative;
  height: 300px;
  overflow: hidden;
  border: none;
  transition: 0.5s;
  border-radius: 10px;
  
}
.guest-hovertest:hover .cardtest{
  transform: scale(1.05);
}
.gusetimagetest{
  height: 200px;
}
.guesttabletest td,th{
   padding: 30px;
   text-align: center;
   background-color: rgb(26, 26, 26);
}