<div class="guest-container">
    <div class="container">
        <div class="movie-list-container">
            <h1 class="movie-list-title guesttitletest">TO BE REVIEWED</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="guest-hovertest" *ngFor="let gam of GMoviedata">
                        <div class="card cardtest" style="width: 18rem;" >
                            <img class="card-img-top gusetimagetest" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="Card image cap">
                            <div class="card-body bodytest">
                              <h3 class="card-title titletest">{{gam.movieName}}</h3>
                              <h5 class="card-title titletest1">By {{gam.directedBy}}</h5>
                              <button class="buttontest">Watch</button>
                              <button class="buttontest1"(click)="sguestmodal(gam._id)">Review</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <h1 class="movie-list-title guesttitletest">REVIEWED</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div class="guest-hovertest" *ngFor="let gam of GMoviedata">
                        <div class="card cardtest" style="width: 18rem;" >
                            <img class="card-img-top gusetimagetest" src="https://images.cinemaexpress.com/uploads/user/imagelibrary/2022/2/17/original/Mohanlal.jpg?w=400&dpr=2.6" alt="Card image cap">
                            <div class="card-body bodytest">
                              <h5 class="card-title titletest">{{gam.movieName}}</h5>
                              <h5 class="card-title titletest1">By {{gam.directedBy}}</h5>
                              <button class="buttontest">Watch</button>
                              <button class="buttontest1"(click)="sguestmodalmarks(gam._id,gam.movieName,gam.marks)">view</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalguest" style="display: flex;" *ngIf=Gmodal>
            <div class="modalcontentguest">
                <div class="closebutton" >
                    <button (click)="cguestmodal(reviewform)">&times;</button>
                </div>
                <div class="guest-modal-container">
                    <div class="guest-modal-left">

                        <h1>Add Review</h1>
                        <form (ngSubmit) ="addReview(reviewform)" #reviewform='ngForm'> 
                            Overall :
                            <input type="number" name="Overall" [(ngModel)]="marks.Overall" class="form-control"  placeholder='value from 1 to 5' #minm="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm.touched && minm.invalid" class="alert alert-danger">
                                <div *ngIf="minm.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Direction :
                            <input type="number" name="Direction" [(ngModel)]="marks.Direction" class="form-control"  placeholder='value from 1 to 5'#minm1="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm1.touched && minm1.invalid" class="alert alert-danger">
                                <div *ngIf="minm1.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm1.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Story :
                            <input type="number" name="Story" [(ngModel)]="marks.Story" class="form-control"  placeholder='value from 1 to 5'#minm2="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm2.touched && minm2.invalid" class="alert alert-danger">
                                <div *ngIf="minm2.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm2.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Acting :
                            <input type="number" name="Acting" [(ngModel)]="marks.Acting" class="form-control"  placeholder='value from 1 to 5'#minm3="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm3.touched && minm3.invalid" class="alert alert-danger">
                                <div *ngIf="minm3.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm3.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Music :
                            <input type="number" name="Music" [(ngModel)]="marks.Music" class="form-control"  placeholder='value from 1 to 5'#minm4="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm4.touched && minm4.invalid" class="alert alert-danger">
                                <div *ngIf="minm4.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm4.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            SFX :
                            <input type="number" name="SFX" [(ngModel)]="marks.SFX" class="form-control"  placeholder='value from 1 to 5'#minm5="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm5.touched && minm5.invalid" class="alert alert-danger">
                                <div *ngIf="minm5.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm5.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Camera :
                            <input type="number" name="Camera" [(ngModel)]="marks.Camera" class="form-control"  placeholder='value from 1 to 5'#minm6="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm6.touched && minm6.invalid" class="alert alert-danger">
                                <div *ngIf="minm6.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm6.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            Production :
                            <input type="number" name="Production" [(ngModel)]="marks.Production" class="form-control"  placeholder='value from 1 to 5'#minm7="ngModel" pattern="^[0-5]" required>
                            <div *ngIf ="minm7.touched && minm7.invalid" class="alert alert-danger">
                                <div *ngIf="minm7.errors?.['required']">
                                    Cannot be empty
                                </div>
                                <div *ngIf="minm7.errors?.['pattern']">
                                    out of range
                                </div>
                            </div>
                            <input type="hidden" [(ngModel)]="marks._id">
                            <button type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalguest" style="display: flex;" *ngIf=Gmodalm>
            <div class="modalcontentguest">
                <div class="closebutton" >
                    <button (click)="cguestmodalmarks()">&times;</button>
                </div>
                <div class="guest-modal-container modaltest">
                    <!-- <div class="guest-modal-top">
                        <h1>{{movieName}}</h1>
                    </div>
                    <div class="guest-modal-bottom">
                        <div class="guest-modal-left">
                            <h3>Overall&nbsp;: </h3>
                            <h3>Direction : </h3>
                            <h3>Story     : </h3>
                            <h3>Acting    : </h3>
                            <h3>Music     : </h3>
                            <h3>SFX       : </h3>
                            <h3>Camera    : </h3>
                            <h3>Production: </h3>
                        </div>
                        <div class="guest-modal-right2">
                            <h3>Overall: </h3>
                            <h3>Direction: </h3>
                            <h3>Story: </h3>
                            <h3>Acting: </h3>
                            <h3>Music: </h3>
                            <h3>SFX: </h3>
                            <h3>Camera: </h3>
                            <h3>Production: </h3>
                        </div>
                    </div> -->
                    <div class="guest-modal-left">
                        <h1>{{movieName}}</h1>

                        <table class="table table-hover table-dark guesttabletest">
                            <thead>
                              <tr>
                                <th scope="col">Category{{exmark._id}}</th>
                                <th scope="col">your marks</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Overall</th>
                                <td>{{exmark.Overall}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Direction</th>
                                <td>{{exmark.Direction}}</td>
                              </tr>                              
                              <tr>
                                <th scope="row">Story</th>
                                <td>{{exmark.Story}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Acting</th>
                                <td>{{exmark.Acting}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Music</th>
                                <td>{{exmark.Music}}</td>
                              </tr>
                              <tr>
                                <th scope="row">SFX</th>
                                <td>{{exmark.SFX}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Camera</th>
                                <td>{{exmark.Camera}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Production</th>
                                <td>{{exmark.Production}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>