<div class="event-container">
    <div class="container">
        <div class="event-top-container row">
            <div class="h6">Event</div>
            <div class="h2 col-sm-12 d-flex justify-content-between">
                <div class="event-top-left-header">
                    <h1>{{eventDetails.eventName}}</h1>
                    <h2>BY {{eventDetails.hostedBy}}</h2>
                    <h4>Event Closes on: <h3>{{eventDetails.dueDate.substring(0,10)}}</h3>
                    </h4>
                    <h5>{{eventDetails.desc}}</h5>
                </div>
                <div class="event-top-right-header">
                    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3"
                    aria-controls="offcanvasRight" class="update-button">Update</button>
                    <button class="btn btn-danger" (click)="deleteEvent()">Delete</button>
                    <h4>Sumbissions</h4>
                    <h2>{{eventDetails.maxEntries}}</h2>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <h2>Sumbissions</h2>
            <table class="table table-hover table-dark event-table-main">
                <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">Director</th>
                        <th scope="col">Details</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of eventMovies; let index = index;" ng-if="true">
                        <th scope="row">{{movie.movieName}}</th>
                        <td>{{movie.directedBy}}</td>
                        <td>{{movie.genre}}</td>
                        <td>
                            <div class="d-flex flex-row col-lg-3 ">
                                <button class="btn btn-primary m-1 btn-select-event" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                    aria-controls="offcanvasRight" (click)="singleMovieData(movie._id)">View</button>
                                <button class="btn btn-secondary m-1 btn-select-event" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2"
                                    aria-controls="offcanvasRight2" (click)="singleMovieData(movie._id)">Assign</button>
                                <button class="btn btn-danger m-1 btn-select-event" type="button" (click)="deleteMovie(movie._id)">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-end text-bg-dark" ng-if="true" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">View</h5>
        <button type="button" class="closebutton-offcanvas" data-bs-dismiss="offcanvas"
            aria-label="Close">&times;</button>
    </div>
    <div class="offcanvas-body">
        <div>
            <h1>{{singleMovie.movieName}}</h1>
            <h5>Directed By: {{singleMovie.directedBy}}y</h5>
            <p>Status: {{singleMovie.status}}</p>
            <div>Assignees:  
                <h3 *ngFor="let guests of selectedGuest">{{guests.name}}</h3>
            </div>
            <div class="marks-offcanvas table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">GuestA</th>
                            <th scope="col">GuestB</th>
                            <th scope="col">GuestC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Overall</th>
                            <td>{{singleMovieMark[0]?.Overall}}</td>
                            <td>{{singleMovieMark[1]?.Overall}}</td>
                            <td>{{singleMovieMark[2]?.Overall}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Direction</th>
                            <td>{{singleMovieMark[0]?.Direction}}</td>
                            <td>{{singleMovieMark[1]?.Direction}}</td>
                            <td>{{singleMovieMark[2]?.Direction}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Story</th>
                            <td>{{singleMovieMark[0]?.Story}}</td>
                            <td>{{singleMovieMark[1]?.Story}}</td>
                            <td>{{singleMovieMark[2]?.Story}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Acting</th>
                            <td>{{singleMovieMark[0]?.Acting}}</td>
                            <td>{{singleMovieMark[1]?.Acting}}</td>
                            <td>{{singleMovieMark[2]?.Acting}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Music</th>
                            <td>{{singleMovieMark[0]?.Music}}</td>
                            <td>{{singleMovieMark[1]?.Music}}</td>
                            <td>{{singleMovieMark[2]?.Music}}</td>
                        </tr>
                        <tr>
                            <th scope="row">SFX</th>
                            <td>{{singleMovieMark[0]?.SFX}}</td>
                            <td>{{singleMovieMark[1]?.SFX}}</td>
                            <td>{{singleMovieMark[2]?.SFX}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Camera</th>
                            <td>{{singleMovieMark[0]?.Camera}}</td>
                            <td>{{singleMovieMark[1]?.Camera}}</td>
                            <td>{{singleMovieMark[2]?.Camera}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Camera</th>
                            <td>{{singleMovieMark[0]?.Camera}}</td>
                            <td>{{singleMovieMark[1]?.Camera}}</td>
                            <td>{{singleMovieMark[2]?.Camera}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex">
            <!-- <button class="btn btn-success m-1 btn-select-event" type="button">Select Status</button> -->
            <div class="btn-group dropup ">
                <button type="button" class="btn dropdown-toggle btn-success m-1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Status
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" (click)="setStatus(singleMovie._id,'Winner')"> Declare Winner</a></li>
                    <li><a class="dropdown-item" (click)="setStatus(singleMovie._id,'Shortlisted')">Shortlisted</a></li>
                    <li><a class="dropdown-item" (click)="setStatus(singleMovie._id,'In Review')">In Review</a></li>
                    <li><a class="dropdown-item" (click)="setStatus(singleMovie._id,'Pending')">Pending</a></li>
                    <li><a class="dropdown-item" (click)="setStatus(singleMovie._id,'Rejected')">Rejected</a></li>
                </ul>
            </div>
            <button class="btn btn-info m-1 btn-select-event" type="button"
                (click)="shortlistMovie(singleMovie._id)">Shortlist</button>
                <button class="btn btn-primary m-1 btn-select-event" type="button"
                (click)="routeMovie(singleMovie._id)">View</button>
            <button class="btn btn-danger m-1 btn-select-event" type="button"
                (click)="setStatus(singleMovie._id,'Rejected')">Reject</button>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight2"
    aria-labelledby="offcanvasRightLabel2">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Assign guests</h5>
        <button type="button" class="closebutton-offcanvas" data-bs-dismiss="offcanvas"
            aria-label="Close">&times;</button>
    </div>
    <div class="offcanvas-body">
        <h1>{{singleMovie.movieName}}</h1>
        <h5>Directed By: {{singleMovie.directedBy}}</h5>
        <p>Status: {{singleMovie.status}}</p>
        <h4>Added Guests</h4>
        <div *ngFor="let guests of selectedGuest" class="d-flex align-items-center justify-content-around">
             <h3>{{guests.name}}</h3>
             <button class="btn btn-danger" (click)="deleteGuests(guests._id)">Delete</button>
        </div>
        <h2>Select Your Guest</h2>

              <div class="btn-group dropdown ">
                <button type="button" class="btn dropdown-toggle btn-success m-1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Guest
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" *ngFor="let guests of guestList" (click)="addGuest(singleMovie._id,guests._id)"> {{guests.name}}</a></li>
                </ul>
            </div>
    </div>
</div>
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight3"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Add an Event</h5>
        <button type="button" class="closebutton-offcanvas" data-bs-dismiss="offcanvas"
            aria-label="Close">&times;</button>
    </div>
    <div class="offcanvas-body">
        <h1 class="text-center">Update Event</h1>
        <div class="modalcontentvolunteer">
            <form (ngSubmit)="updateEvent(event_id,eventform)" #eventform="ngForm">
                Name :
                <input type="text" name="eventName" class="form-control" [(ngModel)]="singleevent.eventName"
                    placeholder={{singleevent.hostedBy}}>
                Max-Entry :
                <input type="text" name="maxEntries" [(ngModel)]="singleevent.maxEntries" placeholder='Enter the Books'>
                Start Date :
                <input type="date" name="startDate" datetime="yyyy-MM-dd HH:mm:ss" [(ngModel)]="singleevent.startDate" placeholder='Enter the Age'>
                Due Date :
                <input type="date" name="dueDate" datetime="yyyy-MM-dd HH:mm:ss" [(ngModel)]="singleevent.dueDate" placeholder='Enter the Age'>
                Desc :
                <textarea rows="4" cols="50" name="desc" [(ngModel)]="singleevent.desc"
                    placeholder='Enter the desc The origin of your story or any background details'>

            </textarea>
                Organizer :
                <input type="text" name="hostedBy" [(ngModel)]="singleevent.hostedBy" placeholder='Enter the Host'>
                <button type="submit">Update</button>
            </form>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- Default dropup button -->