<div class="updateUser-container">
    <div class="updateUser-wrapper">
        <div class="updateUser-left">
            <div class="updateUser-form">
                <h1>Update User</h1>
                <h4>A good storyteller is the most powerful person in the world</h4>
                <form (ngSubmit)="updateUserData(userupdateUser)" #userupdateUser = "ngForm">
                    <input type="text" placeholder="{{Userc.name}}"name="name" class="form-control" [(ngModel)]="Userc.name" required>
                    <input type="text" placeholder={{Userc.name}} name="email" class="form-control" [(ngModel)]="Userc.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
                    <small [class.d-none]="email.valid || email.touched">Enter valid email</small>
                    <input type="text" placeholder="password" class="form-control" name="password" [(ngModel)]="Userc.password" minlength="6" required>
                    <!-- <div class="updateUser-form-radio form-control">
                        <input type="radio" id="html" name="role" value="Volunteer" [(ngModel)]="User.role">
                        <label for="html">Volunteer</label><br>
                        <input type="radio" id="candidate" name="role" value="candidate" [(ngModel)]="User.role">
                        <label for="candidate">Candidate</label>
                        <input type="radio" id="viewer" name="role" value="viewer" [(ngModel)]="User.role">
                        <label for="viewer">Viewer</label>
                    </div> -->
                    <button type="submit">updateUser</button>
                </form> 
            </div>
        </div>
    </div>
</div> 