<div class="event-container">
    <div class="container">
        <div class="event-top-container row">
            <div class="h6">Movie</div>
            <div class="h2 col-sm-12 d-flex justify-content-between">
                <div class="event-top-left-header">
                    <h1>Bahubali</h1>
                    <h2>BY RajaMauli</h2>
                    <h4>Submitted to</h4>
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatum neque placeat velit
                        reprehenderit beatae totam distinctio expedita nobis vel nam, cupiditate aperiam veniam quaerat
                        eos? Ipsum saepe adipisci odit?</h5>
                </div>
                <div class="event-top-right-header">
                    <button class="btn btn-primary">Update Entry</button>
                    <button class="btn btn-danger mt-3">Delete Entry</button>
                    <span class="h6">status: <span class="h4">pending</span> </span>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <h2>Marks</h2>
            <table class="table table-hover table-dark event-table-main">
                <thead>
                    <tr>
                        <th scope="col">Categories</th>
                        <th scope="col">Guest A</th>
                        <th scope="col">Guest B</th>
                        <th scope="col">Guest C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Overall</th>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <tr>
                            <th scope="row">Direction</th>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <tr>
                                <th scope="row">Story</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            
                            </tr>
                            <tr>
                                <th scope="row">Acting</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Music</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">SFX</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Production</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Guest_id</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">View</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <h1>Movie Name</h1>
            <h5>Directed By: Anil Antony</h5>
            <p>Status: pending</p>
            <h4>Assignees: Anil,Adlee,Shameem</h4>
            <div class="marks-offcanvas table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">GuestA</th>
                            <th scope="col">GuestB</th>
                            <th scope="col">GuestC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Overall</th>
                            <td>1</td>
                            <td>2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">Direction</th>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th scope="row">Story</th>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th scope="row">Acting</th>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th scope="row">Music</th>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th scope="row">SFX</th>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">Camera</th>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">Camera</th>
                            <td>2</td>
                            <td>5</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex">
            <button class="btn btn-success m-1 btn-select-event" type="button">Select Winner</button>
            <button class="btn btn-info m-1 btn-select-event" type="button">Shortlist</button>
            <button class="btn btn-danger m-1 btn-select-event" type="button">Reject</button>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight2"
    aria-labelledby="offcanvasRightLabel2">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Assign guests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h1>Movie Name</h1>
        <h5>Directed By: Anil Antony</h5>
        <p>Status: pending</p>
        <h4>Added Guests</h4>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Guest</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Guest1</th>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">Guest2</th>
                    <td>Complerted</td>
                </tr>
            </tbody>
        </table>
        <h2>Select Your Guest</h2>
        <form action="" class="addguest-form-event">
            Select guest 
            <select class="input-offcanvas-guest" name="cars" id="cars">
                <option value="volvo">Lijo Jose Pellisery</option>
                <option value="saab">Ravi</option>
                <option value="mercedes">Shanker</option>
                <option value="audi">PV Ravi</option>
              </select>
              <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
</div>