<div class="event-container">
  <div class="container">
    <div class="event-top-container row">
      <div class="h6">Movie</div>
      <div class="h2 col-sm-12 d-flex justify-content-between">
        <div class="event-top-left-header">
          <h1>{{ movieName }}</h1>
          <h2>By {{ directedBy }}</h2>
          <h4>Submitted to {{ eventName }}</h4>
          <h5>
            {{ theme }}
          </h5>
        </div>
        <div class="event-top-right-header">
          <button
            class="btn btn-primary m-1 btn-select-event status"
            type="button"
          >
            Status : {{ movieData.status }}
          </button>
          <button
            class="btn btn-primary m-1 btn-select-event update"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight3"
            aria-controls="offcanvasRight3"
          >
            Update Entry
          </button>
          <button (click)="DeleteEntry()" class="btn btn-danger delete">
            Delete Entry
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <h2>Marks</h2>
      <table class="table table-hover table-dark event-table-main">
        <thead>
          <tr>
            <th scope="col">Categories</th>
            <th scope="col">Guest A</th>
            <th scope="col">Guest B</th>
            <th scope="col">Guest C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Overall</th>
            <td>{{ movieData.marks[0]?.Overall }}</td>
            <td>{{ movieData.marks[1]?.Overall }}</td>
            <td>{{ movieData.marks[2]?.Overall }}</td>
          </tr>
          <tr>
            <th scope="row">Direction</th>
            <td>{{ movieData.marks[0]?.Direction }}</td>
            <td>{{ movieData.marks[1]?.Direction }}</td>
            <td>{{ movieData.marks[2]?.Direction }}</td>
          </tr>
          <tr>
            <th scope="row">Story</th>
            <td>{{ movieData.marks[0]?.Story }}</td>
            <td>{{ movieData.marks[1]?.Story }}</td>
            <td>{{ movieData.marks[2]?.Story }}</td>
          </tr>
          <tr>
            <th scope="row">Acting</th>
            <td>{{ movieData.marks[0]?.Acting }}</td>
            <td>{{ movieData.marks[1]?.Acting }}</td>
            <td>{{ movieData.marks[2]?.Acting }}</td>
          </tr>
          <tr>
            <th scope="row">Music</th>
            <td>{{ movieData.marks[0]?.Music }}</td>
            <td>{{ movieData.marks[1]?.Music }}</td>
            <td>{{ movieData.marks[2]?.Music }}</td>
          </tr>
          <tr>
            <th scope="row">SFX</th>
            <td>{{ movieData.marks[0]?.SFX }}</td>
            <td>{{ movieData.marks[1]?.SFX }}</td>
            <td>{{ movieData.marks[2]?.SFX }}</td>
          </tr>
          <tr>
            <th scope="row">Production</th>
            <td>{{ movieData.marks[0]?.Production }}</td>
            <td>{{ movieData.marks[1]?.Production }}</td>
            <td>{{ movieData.marks[2]?.Production }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end text-bg-dark"
  tabindex="-1"
  id="offcanvasRight3"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">View</h5>
    <button
      type="button"
      class="closebutton"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      &times;
    </button>
  </div>
  <div class="offcanvas-body">
    <form (ngSubmit)="sendUpdatedMovie(Modalform)" #Modalform="ngForm">
      <h4>Update Movie</h4>
      <label for="url">URL</label>
      <input
        type="text"
        id="url"
        name="url"
        [(ngModel)]="movie.url"
        placeholder="Paste your content url here"
      />
      <label for="theme">Descrioption</label>
      <input
        type="text"
        id="theme"
        name="theme"
        [(ngModel)]="movie.theme"
        placeholder="Short Discription"
      />

      <label for="directedBy">Director</label>

      <input
        type="text"
        id="directedBy"
        name="directedBy"
        [(ngModel)]="movie.directedBy"
        placeholder="directedBy"
      />
      <label for="Producer">Producer</label>
      <input
        type="text"
        id="Producer"
        name="Producer"
        [(ngModel)]="movie.crew.Producer"
        placeholder="Producer"
      />

      <label for="Actor">Actors</label>

      <input
        type="text"
        id="Actor"
        name="Actor"
        [(ngModel)]="movie.crew.Actor"
        placeholder="Actor"
      />
      <label for="movieName">Movie Name</label>

      <input
        type="text"
        id="movieName"
        name="movieName"
        [(ngModel)]="movie.movieName"
        placeholder="Movie Name"
      />

      <label for="cinematography">Cinematography</label>

      <input
        type="text"
        id="cinematography"
        name="cinematography"
        [(ngModel)]="movie.crew.cinematography"
        placeholder="Cinematography"
      />
      <label for="editor">Editor</label>
      <input
        type="text"
        id="editor"
        name="editor"
        [(ngModel)]="movie.crew.editor"
        placeholder="Editor"
      />

      <label for="asst_director">Assistant Director</label>

      <input
        type="text"
        id="asst_director"
        name="asst_director"
        [(ngModel)]="movie.crew.asst_director"
        placeholder="Assistant director"
      />
      <label for="writer">Writer</label>
      <input
        type="text"
        id="writer"
        name="writer"
        [(ngModel)]="movie.crew.writer"
        placeholder="Writer"
      />

      <label for="cast">Cast</label>

      <input
        type="text"
        id="cast"
        name="cast"
        [(ngModel)]="movie.cast"
        placeholder="cast"
      />
      <label for="gemre">Genre</label>
      <input
        type="text"
        id="genre"
        name="cast"
        [(ngModel)]="movie.genre"
        placeholder="Genre"
        list="genres"
      />
      <datalist id="genres">
        <option value="Drama"></option>
        <option value="Documentary"></option>
        <option value="Action & Adventure"></option>
        <option value="Comedy"></option>
        <option value="Musical"></option>
        <option value="Romantic"></option>
        <option value="Thriller"></option>
        <option value="Scifi"></option>
      </datalist>
      <input class="sub" type="submit" value="Submit" value="SUBMIT" />
    </form>
  </div>
</div>
