<div class="event-container">
  <div class="container">
    <div class="event-top-container row">
      <div class="h6">Movie</div>
      <div class="h2 col-sm-12 d-flex justify-content-between">
        <div class="event-top-left-header">
          <h1>{{ movieName }}</h1>
          <h2>By {{ directedBy }}</h2>
          <h4>Submitted to {{ eventName }}</h4>
          <h5>
            {{ theme }}
          </h5>
        </div>
        <div class="event-top-right-header">
          <button
            class="btn btn-primary m-1 btn-select-event"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight3"
            aria-controls="offcanvasRight3"
          >
            Update Entry
          </button>
          <button class="btn btn-danger mt-3">Delete Entry</button>
          <button
            class="btn btn-primary m-1 btn-select-event status"
            type="button"
          >
            Status : Pending
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <h2>Marks</h2>
      <table class="table table-hover table-dark event-table-main">
        <thead>
          <tr>
            <th scope="col">Categories</th>
            <th scope="col">Guest A</th>
            <th scope="col">Guest B</th>
            <th scope="col">Guest C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Overall</th>
            <td>{{ movieData.marks[0]?.Overall }}</td>
            <td>{{ movieData.marks[1]?.Overall }}</td>
            <td>{{ movieData.marks[2]?.Overall }}</td>
          </tr>
          <tr>
            <th scope="row">Direction</th>
            <td>{{ movieData.marks[0]?.Direction }}</td>
            <td>{{ movieData.marks[1]?.Direction }}</td>
            <td>{{ movieData.marks[2]?.Direction }}</td>
          </tr>
          <tr>
            <th scope="row">Story</th>
            <td>{{ movieData.marks[0]?.Story }}</td>
            <td>{{ movieData.marks[1]?.Story }}</td>
            <td>{{ movieData.marks[2]?.Story }}</td>
          </tr>
          <tr>
            <th scope="row">Acting</th>
            <td>{{ movieData.marks[0]?.Acting }}</td>
            <td>{{ movieData.marks[1]?.Acting }}</td>
            <td>{{ movieData.marks[2]?.Acting }}</td>
          </tr>
          <tr>
            <th scope="row">Music</th>
            <td>{{ movieData.marks[0]?.Music }}</td>
            <td>{{ movieData.marks[1]?.Music }}</td>
            <td>{{ movieData.marks[2]?.Music }}</td>
          </tr>
          <tr>
            <th scope="row">SFX</th>
            <td>{{ movieData.marks[0]?.SFX }}</td>
            <td>{{ movieData.marks[1]?.SFX }}</td>
            <td>{{ movieData.marks[2]?.SFX }}</td>
          </tr>
          <tr>
            <th scope="row">Production</th>
            <td>{{ movieData.marks[0]?.Production }}</td>
            <td>{{ movieData.marks[1]?.Production }}</td>
            <td>{{ movieData.marks[2]?.Production }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end text-bg-dark"
  tabindex="-1"
  id="offcanvasRight3"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">View</h5>
    <button
      style="background-color: white"
      type="button"
      class="closebutton"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    >
      &times;
    </button>
  </div>
  <div class="offcanvas-body"></div>
</div>
