<div class="signup-container">
    <div class="signup-wrapper">
        <div class="signup-left">
            <div class="signup-form">
                <h1>Create Your Account</h1>
                <h4>A good storyteller is the most powerful person in the world</h4>
                <form (ngSubmit)="userVerify()" #usersignup = "ngForm">
                    <input type="text" placeholder="UserName" name="uname" [(ngModel)]="User.username" required>
                    <input type="text" placeholder="Email" name="uemail" [(ngModel)]="User.username" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
                    <input type="password" placeholder="Password" name="password" [(ngModel)]="User.username" minlength="6" required>
                    <input type="password" placeholder="Confirm Password" name="password" [(ngModel)]="User.password" minlength="6" required>
                    <div class="signup-form-radio">
                        <input type="radio" id="html" name="position" value="HTML">
                        <label for="html">Volunteer</label><br>
                        <input type="radio" id="candidate" name="position" value="candidate">
                        <label for="candidate">Candidate</label>
                        <input type="radio" id="viewer" name="position" value="viewer">
                        <label for="viewer">Viewer</label>

                    </div>
                    <button type="submit">SignUp</button>
                </form>
                <p>A member register now? <a [routerLink]="['/login']">Log in</a></p>
            </div>
        </div>
        <div class="signup-right">
            <img class="signup-right-bannerimg" src="https://wallpapercave.com/wp/wp10615910.jpg" alt="wallpapers">
        </div>
    </div>
</div>

