<div class="modalcontainer">
  <div id="container">
    <div id="header">
      <span></span>
      <span>Add Movie</span>
      <button id="but" (click)="serve.showDialog = false">&times;</button>
    </div>
    <form (ngSubmit)="send_Movie_to_Service(Modalform)" #Modalform="ngForm">
      <div class="Candidatewrapper">
        <label for="url">Url</label>
        <label for="theme">Description</label>
        <input
          type="text"
          id="url"
          name="url"
          [(ngModel)]="movie.url"
          placeholder="Paste your content url here"
        />

        <input
          type="text"
          id="theme"
          name="theme"
          [(ngModel)]="movie.theme"
          placeholder="Short Discription"
        />

        <label for="directedBy">Director</label>
        <label for="Producer">Producer</label>
        <input
          type="text"
          id="directedBy"
          name="directedBy"
          [(ngModel)]="movie.directedBy"
          placeholder="directedBy"
        />

        <input
          type="text"
          id="Producer"
          name="Producer"
          [(ngModel)]="movie.Producer"
          placeholder="Producer"
        />

        <label for="Actor">Actors</label>
        <label for="movieName">Movie Name</label>
        <input
          type="text"
          id="Actor"
          name="Actor"
          [(ngModel)]="movie.Actor"
          placeholder="Actor"
        />

        <!-- <input type="text" id="Others"          name = "Others"          [(ngModel)]="movie.Others"         placeholder="Others">                      <br><br> -->

        <input
          type="text"
          id="movieName"
          name="movieName"
          [(ngModel)]="movie.movieName"
          placeholder="Movie Name"
        />

        <label for="cinematography">Cinematography</label>
        <label for="editor">Editor</label>
        <input
          type="text"
          id="cinematography"
          name="cinematography"
          [(ngModel)]="movie.crew.cinematography"
          placeholder="Cinematography"
        />

        <input
          type="text"
          id="editor"
          name="editor"
          [(ngModel)]="movie.crew.editor"
          placeholder="Editor"
        />

        <label for="asst_director">Assistant Director</label>
        <label for="writer">Writer</label>
        <input
          type="text"
          id="asst_director"
          name="asst_director"
          [(ngModel)]="movie.crew.asst_director"
          placeholder="Assistant director"
        />

        <input
          type="text"
          id="writer"
          name="writer"
          [(ngModel)]="movie.crew.writer"
          placeholder="Writer"
        />

        <label for="cast">Cast</label>
        <label for="gemre">Genre</label>
        <input
          type="text"
          id="cast"
          name="cast"
          [(ngModel)]="movie.cast"
          placeholder="cast"
        />

        <input
          type="text"
          id="genre"
          name="cast"
          [(ngModel)]="movie.genre"
          placeholder="Genre"
        />
      </div>

      <input id="sub" type="submit" value="Submit" value="Submit" />
    </form>
  </div>
</div>
