:host {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}
table,
th,
td {
  width: 10vw;
  text-align: center;
  border-bottom: 1px solid;
}

table.bordered {
  border-spacing: 0;
  width: 100%;
}

th {
  background-color: rgb(37, 33, 33);
  font-size: 1.2vw;
  font-weight: 500;
  color: white;
}
td {
  padding: 15px;
  font-weight: bolder;
  font-size: 1vw;
}

tr {
  border: 3px solid rgb(37, 33, 33);
}

button {
  background-color: rgb(36, 221, 36);
  border-radius: 20px;
  color: black;
  top: 8.3%;
  left: 90%;
  width: fit-content;
  height: fit-content;
  padding: 4%;
  position: static;
  font-weight: 500;
  font-size: 1vw;
  z-index: 20;
}
