.login-container{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;
}
.login-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.login-right-bannerimg{
    height: 40rem;
    width: 50rem;
    border-radius: 10%;
}