<div class="login-container">
    <div class="login-wrapper">
        <div class="login-left">
            <div class="login-form">
                <h1>Login to Your Account</h1>
                <h4>A good storyteller is the most powerful person in the world</h4>
                <input type="text" placeholder="UserName">
                <input type="password" placeholder="Password">
                <span>Forget password?</span>
                <button type="submit">LogIn</button>
                <p>Not a member register now? <a>Register now</a></p>
            </div>
        </div>
        <div class="login-right">
            <img class="login-right-bannerimg" src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="wallpapers">
        </div>
    </div>
</div>
