<div class="login-container">
    <div class="login-wrapper">
        <div class="login-left">
            <div class="login-form">
                <h1>Login to Your Account</h1>
                <h4>-A New Way Of To Tell Your Stories-</h4>
                <input type="text" placeholder="UserName" required>
                <input type="password" placeholder="Password" required>
                <span class="login-form-forgetpassword">Forget password?</span>
                <button type="submit">LogIn</button>
                <p>Not a member register now? <a>Register now</a></p>
                newline 
            </div>
        </div>
        <div class="login-right">
            <img class="login-right-bannerimg" src="https://i.pinimg.com/originals/52/a5/2e/52a52e53464e0e7301322ff4dee04ceb.jpg" alt="wallpapers">
        </div>
    </div>
</div>
