
  <div class="viewcontainer">
    <div class="wrapper CONTAINER">
      <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">SHORTFLIX</h1>
            </div>
            <!-- <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active">Home</li>
                    <li class="menu-list-item">Movies</li>
                    <li class="menu-list-item">Series</li>
                    <li class="menu-list-item">Popular</li>
                    <li class="menu-list-item">Trends</li>

                </ul>
            </div> -->

    <!-- HEADER -->
    <header class="banner">
      
      <div class="banner-contents">
        <div class="banner-poster">
          <img src="https://1.bp.blogspot.com/-KuaDm458Ino/X9wphgjA-sI/AAAAAAAAFV8/4pEN4jphUa4iO1Itmhy6GZZMMCHy9KFGQCLcBGAsYHQ/s1920/Untitled%2B%25281%2529.png" alt="" class="banner__poster" />
        </div>
        <h1 class="banner-title">Devasuram</h1>
        <div class="banner-buttons">
          <button class="banner-button">Play</button>
          <button class="banner-button">My List</button>
          
        </div>
        <h1 class="banner-description">
          Devaasuram (transl. Of Gods and Demons) is a 1993 Indian Malayalam-language action drama film directed by I. V. Sasi and written by Ranjith. It stars Mohanlal, Revathi, and Napoleon, with Innocent, V. K. Sreeraman, Maniyanpilla Raju, and Augustine in supporting roles. The songs featured in the film were composed by M. G. Radhakrishnan, while S. P. Venkatesh composed the background score.
        </h1>
      </div>
      <div class="banner--fadeBottom"></div>
    </header>

   

      <!-- <div class="ShortflixLogo">
        <a id="logo" href="#home"><img src="" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                 -->
        
    
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>        
      </nav>      
    
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="row" id="home">
          <h1 id="home">Favourites</h1>
          <div class="row_poster">
            <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
            <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
            <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
            <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
            <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
            <img src="img\mohanalal.jpg" alt="" class="row_poster" />
            <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
            
          </div>
        </div>

      <h1 id="myList">Action</h1>h
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
      </div>
      
      <h1 id="tvShows">Adventure</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
       </div>
      

      <h1 id="movies">Romance</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
      </div>

      <h1 id="originals">Horror</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
      </div>
      <h1 id="originals">Drama</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
      </div>
      <h1 id="originals">Thriller</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
       </div>
      <h1 id="originals">comedy</h1>
      <div class="row_poster">
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <img src="https://static.toiimg.com/photo/msid-91646261/91646261.jpg" alt="" class="row_poster" />
        <!-- <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" />
        <img src="img\mohanalal.jpg" alt="" class="row_poster" /> -->
      </div>
  
    </section>
   

    
    
     </div>
    
  </div> -->
 