body{
    background-color: black;
  }
  h1{
    color: white;
  }
  .viewcontainer{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    width:100%;
  }
  .wrapper{
    width: 80%;
   
    justify-content: space-between;
    padding: 20px;
  
  }
  .row_poster{
       width: 100%;
       object-fit: contain;
       height: 100%;
       transition: transform 500ms;
  }
  .row_poster{
    display: flex;
    
    overflow:auto;
    padding: 20px;
  }
  .row_poster:hover{
    transform: scale(1.09);
  }

  /* banner */
.banner {
  background-image: url('https://static.toiimg.com/photo/msid-91646261/91646261.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 480px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}