.guest-container{
  display: flex;
  background-color: #151515;
  color: white;
  justify-content: center;
  width: 98.9vw;
  height: auto;
  padding-bottom: 100px;

}
.movie-list-container {
  padding: 0 20px;
  background-color: #151515;
  margin-top: 25px;
  height: auto;
}
.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
}
.movie-list::-webkit-scrollbar { 
  display: none; 
}
.buttontest{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 15px;
  transition: 0.5s;
}
.buttontest:hover{
  padding: 10px;
  background-color: green;
  border-radius: 10px;
}
.buttontest1{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 85px;
  transition: 0.5s;
}
.buttontest1:hover{
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  border-color: #4dbf00;
}
.bodytest{
  background-color: transparent;
  height: fit-content;
}
.titletest{
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 10px;
}
.titletest2{
  margin-top: -10px;
  font-size: 1rem;
  color: grey;
}
.cardtest{
  margin-left: 20px;
  margin-right: 5px;
  position: relative;
  height: 250px;
  overflow: hidden;
  border: none;
  transition: 0.5s;
  background-color: transparent;
}
.hovertest{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  height: auto;
  z-index: 100;
}
.hovertest:hover .cardtest {
  transform: scale(1.05);
  margin-right: 10px;
}
.imagetest{
  padding: 5px;
  height: 250px;
  width: 375px;
  object-fit: cover;
  border-radius: 30px;
}
.movietexttest{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}
.movie-list-title{
  padding: 10px;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 600;
}
/* ............................................................. */
/* banner styling */
.banner, .banner-content {
  align-items: center;
  display: flex;
}
.banner {
    color: #fff;
    height: 788px;
    justify-content: center;
    object-fit: contain;
}
.bimg{
  margin-left: 150px;
  margin-right: 30px;
  padding: 5px;
  height: 250px;
  width: 375px;
  object-fit: cover;
  border-radius: 30px;
}
.banner_buttons .banner_button2 {
  background-color: #4dbf00;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  margin-right: 1rem;
  outline: none;
  padding-left: 100px;
  padding-right: 100px;
}

.banner_buttons button {
  font-size: 20px;
  margin-top: 25px;
  padding: 20px 50px;
}
.banner_buttons .banner_button2:hover{
  background-color: green;
  transition: 0.5s;
}
.banner_title {
  font-size: 4rem;
  font-weight: 800
}
.banner_description {
  margin-right: 150px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 80px;
  /* line-height: 1.3; */
  /* max-width: 760px; */
  padding-bottom: 45px;
  padding-top: 1rem;
  /* width: 40rem; */
}
/* ...................................................................... */