 <div class="volunteer-container container-fluid" >
    <div class="volunteer-wrapper container">
            <div class="volunteer-left-top row">
                <div class="volunteer-card volunteer-card-primary h-100" id="volunteer-event-button" (click)="fShowModal()">
                    Create an event
                </div>
                <div class="volunteer-card" id="volunteer-guest-button h-50" (click)="sguestmodal()">
                    Add a guest
                </div>
                <div class="volunteer-card volunteer-uppercard-content h-50" id="volunteer-library-button"
                    (click)="flibrary()">
                    Manage Library
                </div>
            </div>
            <div class="volunteer-dashboard row">
                <div class="card card-volunteer col-lg-3 col-md-6 col-sm-12">
                    <div class="card-body card-content-volunteer hover-blue">
                      <h3>Total Events</h3>
                      <h1>120</h1>
                    </div>
                </div>
                <div class="card card-volunteer col-lg-3 col-md-6 col-sm-12">
                    <div class="card-body card-content-volunteer hover-green">
                      <h3>Current Events</h3>
                      <h1>120</h1>
                    </div>
                </div>
                <div class="card card-volunteer col-lg-3 col-md-6 col-sm-12">
                    <div class="card-body card-content-volunteer hover-yellow">
                      <h3>Total Guests</h3>
                      <h1>120</h1>
                    </div>
                </div>
                <div class="card card-volunteer col-lg-3 col-md-6 col-sm-12">
                    <div class="card-body card-content-volunteer hover-violet">
                      <h3>Movie Sumbissions</h3>
                      <h1>120</h1>
                    </div>
                </div>
            </div>
            <div id="modal" class="modalvolunteer" style="display: flex;" *ngIf=Emodal>
                <div class="modalcontentvolunteer" id="vol-modal" [@dialog]>
                    <div class="closebutton">
                        <button (click)="fShowModal()">&times;</button>
                    </div>
                    <div class="volunteer-modal-container">
                        <div class="volunteer-modal-left">
                            <h1>Add Event</h1>
                            <form (ngSubmit)="addEvent(eventform)" #eventform="ngForm">
                                Name :
                                <input type="text" name="eventName" class="form-control"
                                    [(ngModel)]="singleevent.eventName" placeholder='Enter the name'>
                                <input type="hidden" class="form-control" [(ngModel)]="singleevent.eventName"
                                    placeholder='Enter the name'>
                                Max-Entry :
                                <input type="text" name="maxEntries" [(ngModel)]="singleevent.maxEntries"
                                    placeholder='Enter the Books'>
                                Start Date :
                                <input type="date" name="startDate" [(ngModel)]="singleevent.startDate"
                                    placeholder='Enter the Age'>
                                Due Date :
                                <input type="date" name="dueDate" [(ngModel)]="singleevent.dueDate"
                                    placeholder='Enter the Age'>
                                Desc :
                                <input type="text" name="desc" [(ngModel)]="singleevent.desc"
                                    placeholder='Enter the Desc'>
                                Organizer :
                                <input type="text" name="hostedBy" [(ngModel)]="singleevent.hostedBy"
                                    placeholder='Enter the Host'>
                                <button type="submit">Update</button>
                            </form>
                        </div>
                        <!-- <div class="volunteer-modal-right">
                            <img src="https://wallpapercave.com/wp/wp5403866.jpg"
                                alt="">
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="modalvolunteer" style="display: flex;" *ngIf=Gmodal>
                <div class="modalcontentvolunteer" [@dialog]>
                    <div class="closebutton">
                        <button (click)="sguestmodal()">&times;</button>
                    </div>
                    <div class="volunteer-modal-container">
                        <div class="volunteer-modal-left">

                            <h1>Add a Guest</h1>
                            <form (ngSubmit)="addGuest(guestform)" #guestform="ngForm">
                                <input type="hidden" name="role" [(ngModel)]="Guest.role" placeholder='Enter the name'>
                                Name :
                                <input type="text" name="name" class="form-control" [(ngModel)]="Guest.name"
                                    placeholder='Enter the name'>
                                Email :
                                <input type="email" name="email" [(ngModel)]="Guest.email" placeholder='Enter the Age'>
                                Password :
                                <input type="password" name="password" [(ngModel)]="Guest.password"
                                    placeholder='Enter the Age'>
                                <button type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between pt-5">
                <div class="volunteer-left-bottom col-sm-12 col-lg-7">
                        <table class="volunteer-table-container">
                            <tr class="lead">
                                <td>Event</td>
                                <td>Entries</td>
                                <td>Due Date</td>
                                <td>Status</td>
                                <td>View</td>
                            </tr>
                            <tr *ngFor="let eventone of EventData" class="h6">
                                <td>{{eventone.eventName}}</td>
                                <td>{{eventone.hostedBy}}</td>
                                <td>{{eventone.sumbmissions}}</td>
                                <td>{{eventone.maxEntries}}</td>
                                <td><button><a [routerLink]="['/event']">View</a> </button></td>
                            </tr>
                        </table>
                    </div>
                <div class="volunteer-right-bottom col-sm-12 col-lg-4 pl-2 mt-4 mt-md-0 d-flex justify-content-center">
                        <table class="volunteer-guest-table-list w-100">
                            <tr>
                                <td>Name</td>
                                <td>Reviewed</td>
                                <td>Pending</td>
                            </tr>
                            <tr *ngFor="let eventone of EventData" class="h6">
                                <td>{{eventone.eventName}}</td>
                                <td>{{eventone.hostedBy}}</td>
                                <td>{{eventone.sumbmissions}}</td>
                            </tr>
                        </table>
                </div>
                <div class="volunteer-recent-submissions row mt-4">
                    <div class="h3">Latest Sumbissions</div>    
                    <div class="card card-volunteer-videos col-lg-2 col-md-6 col-sm-12" *ngFor="let videos of EventData">
                        <img src="https://images.pexels.com/photos/1172253/pexels-photo-1172253.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                        <div class="card-body">
                          <h3>Total Events</h3>
                          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, officia consequuntur ab voluptates amet et totam? Dolore obcaecati possimus cumque, eum culpa iste iure ipsum. Illo tempora consectetur repellendus ad? </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>