<div class="volunteer-container">
    <div class="volunteer-wrapper">
        <div class="volunteer-left">
            <div class="volunteer-left-top">
                <div class="volunteer-card volunteer-card-primary" id="volunteer-event-button" onclick="fevent()">
                    Create an event 
                </div>
                <div class="volunteer-card" id="volunteer-guest-button" onclick="fguest()">
                    Add a guest 
                    
                </div>
                <div class="volunteer-card" id="volunteer-library-button" onclick="flibrary()">
                    Manage Library
                </div>
            </div>
            <div class="volunteer-left-bottom">
                <div class="volunteer-left-bottom-title">Events</div>
                <div class="volunteer-selector-event">
                    <table class="volunteer-events-table">
                        <tr>
                            <th>Title</th>
                            <th>Entries</th>
                            <th>By</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Ais fil competition</td>
                            <td>34</td>
                            <td>AJS Orginisation</td>
                            <td>Completed</td>
                        </tr>
                        <tr>
                            <td>Ais fil competition</td>
                            <td>34</td>
                            <td>AJS Orginisation</td>
                            <td>Completed</td>
                        </tr>
                        <tr>
                            <td>Ais fil competition</td>
                            <td>34</td>
                            <td>AJS Orginisation</td>
                            <td>Completed</td>
                        </tr>
                    </table>
                </div> 
            </div>
        </div>
        <div class="volunteer-right-container" id="volunteer-library">
            <div class="volunteer-right" id="volunteer-library">
                Libraries
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Due Date</th>
                            <th>Entries</th>
                            <th>Others</th>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="volunteer-right" id="volunteer-guest">
                guest
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Due Date</th>
                            <th>Entries</th>
                            <th>Others</th>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                        <tr>
                            <td>JS allison fest</td>
                            <td>14/12/2001</td>
                            <td>46</td>
                            <td>Others</td>
                        </tr>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>
