.volunteer-container{
    display: flex;
    background-color: rgb(26, 26, 26);
    color: white;
    justify-content: center;
    height: 100vh;

}
.volunteer-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

}
.volunteer-left{
    display: flex;
    flex-direction: column;
    flex:3;
}
.volunteer-left-top{
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 3rem;
}
.volunteer-card{
    background-color: rgb(161, 0, 135);
    background-image: linear-gradient(rgb(147, 0, 123), rgb(235, 0, 196));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 4rem;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    width: 10rem;
    height: 5rem;
    transition: 0.5s ease;
    cursor: pointer;
    flex: 1;
}
.volunteer-card:hover{
    transform: scale(1.01);
    box-shadow: 5px 10px #000000;

}
.volunteer-card-primary{
    background-image: linear-gradient(rgb(54, 2, 144), rgb(91, 0, 249));
    height: 5rem;
    flex: 2;
}
.volunteer-right{
    background-image: linear-gradient(rgb(39, 39, 39), rgb(38, 35, 35));
    background-color: rgb(172, 172, 172);
    padding: 25px;
    width: 100%;
    margin: 25px;
    border-radius: 10px;
    height: 35vh;
}
.volunteer-right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1;
}
.volunteer-left-bottom{
    width: 100%;
    background-image: linear-gradient(rgb(39, 39, 39), rgb(38, 35, 35));
    height: 50vh;
}
.volunteer-events-table{
    width: 100%;
}
.volunteer-uppercard-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.volunteer-uppercard-content-in{
    width: 80px;
    display: hidden;
}
/* .volunteer-events-table tr{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .volunteer-events-table tr th{
    font-size: 18px;
    font-weight: 500;
}
.volunteer-left-bottom-title{
    font-size: 22px;
    padding: 25px;
    font-weight: 500;
    margin-left: 3.7em;
} */
.modalvolunteer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    left: 0;
    top: 0;
  }
.modalcontentvolunteer{
    padding: 20px;
    border-radius: 10px;
    width: min-content;
    height: auto;
    background-color: rgb(26, 26, 26);
  }
  .closebutton{
    display: flex;
    justify-content: flex-end;
  }
  .closebutton button{
    display: flex;
    padding: 10px;
    border: none;
    background-color: forestgreen;
    justify-content: end;
    position: fixed;
    left: 50;
    top: 50;
    cursor: pointer;
    border-radius: 10%;
    /* color: white; */
  }
  .modalcontentvolunteer form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 25px;
  }
  .modalcontentvolunteer h1 {
    text-align: center;
  }
  .modalcontentvolunteer input {
    padding: 15px;
    background-color: rgb(51, 51, 51);
    border: none;
    margin: 10px 0;
    border-radius: 10px;
    color: white;
  }
  .modalcontentvolunteer form button {
    display: flex;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    background-color: forestgreen;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;

  }
  .volunteer-modal-left{
    flex: 2;
  }
  .volunteer-modal-container{
    display: flex;
    height: min-content;
    width: 400px;
  }
  .volunteer-modal-right{
    background-color: #cf9c50;
    flex: 1;
    display: flex;
    width: 50% ;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
  }
  .volunteer-modal-right img{
    width: 100%;
    height: max-content;
  }
  .volunteer-event-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .volunteer-event-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 10px #242424;
    transition: 0.5s ease;
  }
  .volunteer-event-card:hover{
    transform: scale(1.05);
  }
