<div class="container">
  <div class="our-training-program">
    <div class="trainingtest">
      <h2 class="trainingtesttext2">How ShotFLix engages you</h2>
      <h1 class="trainingtesttext1">Program</h1>
    </div>
    <div class="cnlandtestcard">
      <div class="card cnlnd-card">
        <div class="card-body">
          <h5 class="card-title">VIEWER</h5>
          <p class="card-text">
            Watch the latest Movies free. No signup No Login, nothing is going
            to stop you from watching our movies.
          </p>
        </div>
      </div>
      <div class="card cnlnd-card">
        <div class="card-body">
          <h5 class="card-title">VOLUNTEER</h5>
          <p class="card-text">
            Experience the wide variety of facilites. Create Events!, Assign
            guest to events, Superior control over movie releases.
          </p>
        </div>
      </div>
      <div class="card cnlnd-card">
        <div class="card-body">
          <h5 class="card-title">CANDIDATE</h5>
          <p class="card-text">
            Showcase your movie at the best platform. Participate in events,
            Earn Awards, Experience our mini movie world out here for you, come
            join us.
          </p>
        </div>
      </div>
      <div class="card cnlnd-card">
        <div class="card-body">
          <h5 class="card-title">GUEST</h5>
          <p class="card-text">
            Rate our movies, assign marks, find the best movies out here for us.
            Join us to set the new trend.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="why-should-join-us">
    <div class="joinustest">
      <div class="cnlandjointestcard">
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="subttt1">
        <h2 class="trainingtesttext2">Why should join us ?</h2>
        <h1 class="trainingtesttext1">Join us</h1>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="why-should-join-us">
    <div class="joinustest">
      <div class="cnlandjointestcard">
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="subttt1">
        <h2 class="trainingtesttext2">Why should join us ?</h2>
        <h1 class="trainingtesttext1">Join us</h1>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="why-should-join-us">
    <div class="joinustest">
      <div class="cnlandjointestcard">
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card cnlnd-card-join">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="subttt1">
        <h2 class="trainingtesttext2">Why should join us ?</h2>
        <h1 class="trainingtesttext1">Join us</h1>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <div class="nnntest">
          <div class="nntest">
            <h1 class="nnum">114</h1>
            <h3 class="ntext">text template</h3>
          </div>
          <div class="nntest">
            <h1 class="nnum">114</h1>
            <h3 class="ntext">text template</h3>
          </div>
          <div class="nntest">
            <h1 class="nnum">114</h1>
            <h3 class="ntext">text template</h3>
          </div>
          <div class="nntest">
            <h1 class="nnum">114</h1>
            <h3 class="ntext">text template</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="supportive-community"></div>
</div>
