<div class="container">
    <div class="our-training-program">
        <div class="trainingtest">
            <h2 class="trainingtesttext2">Our Training Program</h2>
            <h1 class="trainingtesttext1">Program</h1>
        </div>
        <div class="cnlandtestcard">
            <div class="card cnlnd-card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card cnlnd-card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card cnlnd-card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card cnlnd-card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            
            
           </div>
        
        </div>
    <div class="why-should-join-us">
        <div class="joinustest">
            <div class="cnlandjointestcard">
                <div class="card cnlnd-card-join">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                </div>
                <div class="card cnlnd-card-join">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                </div>
                <div class="card cnlnd-card-join">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    
                </div>
            </div>
            <div class="subttt1">
                <h2 class="trainingtesttext2">Why should join us ?</h2>
                <h1 class="trainingtesttext1">Join us</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="nnntest">
                    <div class="nntest">
                        <h1 class="nnum">114</h1>
                        <h3 class="ntext">text template</h3>
                    </div><div class="nntest">
                        <h1 class="nnum">114</h1>
                        <h3 class="ntext">text template</h3>
                    </div><div class="nntest">
                        <h1 class="nnum">114</h1>
                        <h3 class="ntext">text template</h3>
                    </div><div class="nntest">
                        <h1 class="nnum">114</h1>
                        <h3 class="ntext">text template</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="supportive-community">
    </div>
</div>
       
          

